:root {
  --bg-color: #f4f4f9;
  --text-color: #8d8d8d;
  --accent-color: #0015ff;
  --sidebar-bg: rgba(20, 20, 20, 0.95);
  --card-bg: rgba(255, 255, 255, 0.9);
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 80px;
  --transition-speed: 0.4s;
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  overflow: hidden;
  
}

.glass {
  background: var(--sidebar-bg);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}